@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

button,
a {
  user-select: none;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.hero {
  background: linear-gradient(180deg, #853799 0%, #e74f81 100%);
  /* filter: blur(100px);
  --webkit-filter: blur(100px); */
  width: 100vw;
  height: calc(100vh - 0.1px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.diarry-hero {
  background: linear-gradient(
    180deg,
    hsl(288, 86%, 74%, 0.2) 0%,
    hsl(340, 89%, 75%, 0.2) 100%
  );
  filter: blur(500px);
  --webkit-filter: blur(500px);
  width: 95vw;
  height: calc(100vh - 0.1px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn {
  @apply bg-emerald-500 py-2 px-10 rounded shadow text-white capitalize tracking-wide border-2 border-emerald-500 hover:bg-transparent transition-all duration-150;
}

.btn-icon {
  background: linear-gradient(180deg, #853799 0%, #e74f81 100%);
  @apply p-3 rounded-full shadow transition-all duration-150;
}

.btn-icon:hover {
  background: linear-gradient(180deg, #e74f81 0%, #853799 100%);
}

.btn-submit {
  background: linear-gradient(180deg, #853799 0%, #e74f81 100%);
  @apply py-2 px-6 rounded shadow transition-all duration-150 text-white text-sm;
}

.btn-submit:hover {
  background: linear-gradient(180deg, #e74f81 0%, #853799 100%);
}

.description {
  background: linear-gradient(90deg, #e683ff 0%, #ff96b9 100%);
}

.md h1 {
  @apply text-4xl;
}

.md h2 {
  @apply text-3xl;
}

.md h3 {
  @apply text-2xl;
}

.md h4 {
  @apply text-xl;
}

.md h5 {
  @apply text-lg;
}

.md h6 {
  @apply text-base;
}

.md p {
  @apply text-sm lg:text-base;
}

.md img {
  max-width: 100%;
}

.md b,
.md strong {
  @apply font-bold;
}

.md code {
  font-family: "Roboto Mono", sans-serif;
  @apply text-base;
}

.md a {
  @apply text-indigo-500 underline text-sm;
}

@media (min-width: 1024px) {
  .hero {
    background: linear-gradient(90deg, #853799 0%, #e74f81 100%);
    /* filter: blur(150px);
    --webkit-filter: blur(150px); */
  }
}

code {
  @apply bg-slate-200 py-1 px-2 rounded;
}
